body {
  border-style: border-box;
  font-family: "Permanent Marker", cursive;
  background-color: black;
}

.container {
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  right: 0px;
}

.page {
  background-color: white;
  margin: 0%;
  width: 70%;
  max-height: 80%;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.title {
  color: black;
  font-size: 8vw;
  margin: 5% 2% 3% 2%;
}

#year {
  margin-top: 2%;
}
#yearSelect {
  margin-bottom: 2%;
}

select {
  display: flex;
  font-family: sans-serif;
  font-weight: 200;
  color: rgb(153, 18, 45);
  line-height: 1.1;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 30%;
  box-sizing: border-box;
  margin-top: 10px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}

select:hover {
  border: 2px solid rgb(133, 14, 14);
}

.select:focus {
  border: 2px solid rgb(133, 14, 14);
  box-shadow: 0 0 1px 3px rgba(149, 14, 14, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.pulse {
  animation: pulse 3s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(0.98);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0.98);
  }
}

#image {
  max-width: 50%;
  height: auto;
  margin: 4%;
}

.button {
  cursor: pointer;
  border: solid black;
  border-radius: 5px;
  color: rgb(119, 16, 16);
  padding: 3% 2%;
  box-shadow: 5px 10px 20px crimson;
  transition: 0.8s;
  margin: 6%;
  text-align: center;
  display: flex;
}

.button:hover {
  cursor: pointer;
  border: solid black;
  border-radius: 5px;
  color: white;
  padding: 1% 2%;
  box-shadow: none;
  background-color: crimson;
  transform: translateY(10px) translateX(5px);
}

.button:active {
  cursor: pointer;
  border: solid black;
  border-radius: 5px;
  color: white;
  padding: 1% 2%;
  box-shadow: none;
  background-color: crimson;
  transform: translateY(10px) translateX(5px);
}

.page2 {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#header {
  margin: 20px;
  padding: 10px;
  width: auto;
  height: auto;
  font-size: 24px;
}

#resultContainer {
  width: 90%;
  height: 90%;
  margin: 0%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  line-height: 2.5;
}

#result {
  display: flex;
  flex-direction: row;
  padding: 2%;
  color: black;
}

#filmInfo {
  width: 80%;
}
#film {
  color: rgb(158, 35, 60);
  font-size: 22px;
}

.summary {
  font-size: 18px;
  line-height: 1.4;
}

.date {
  color: rgb(158, 35, 60);
  font-size: 18px;
}

#pic {
  width: 20%;
  height: 60%;
  margin: 3% 0% 0% 3%;
  border-radius: 20px;
  box-shadow: 5px 10px 20px rgba(116, 16, 36, 0.6);
}

#seen {
  width: 10%;
}

.dDown {

  font-size: 16px;
  display: flex;
}

@media only screen and (max-width: 1200px) {
    .page {
      width: 96%;
    }

    #film {
    font-size: 22px;

    }

    .summary {
      font-size: 16px;
    }

    .date {
      font-size: 16px;
    }

    
  #resultContainer{
    font-size: 18px;

  }

}

@media only screen and (max-width: 800px) {
  .page {
    width: 95%;
    margin: 0%;
    /* border-radius: 0px; */
    
  }

  .page2 {
    width: 100%;
  }

  #header {
    font-size: 18px;
    text-align: center;
  }

  #film {
    font-size: 20px;
  }

  .summary {
    font-size: 14px;
  }

  .date {
    font-size: 14px;
  }

  #resultContainer {
    font-size: 18px;
    line-height: 1.8;
    width: 96%;
  }

  #result {
    display: flex;
    flex-direction: column;
    padding: 2%;
    color: black;
    width: 95%;
    justify-content: center;
    align-items: center;
  }

  #filmInfo {
    width: 100%;
  }

  #pic {
    width: 40%;
    height: auto%;
    margin: 6% 0% 0% 0%;
  }
}
